* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f6f2;
}

.card {
  border-radius: 30px;
  border-top-left-radius: 10px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.card-title i
{
  margin-top: 20px;
}

.card-img-top {
  width: 100%; /* Set your desired width */
  overflow: hidden; /* Hide any content that overflows the container */
  display: flex;
  justify-content: center;
  border-radius: 8px; /* Add border-radius if desired */
}

.card-img-top img {
  width: 100%;
  height: 75%;
  object-fit: cover; /* Fill the container while maintaining aspect ratio */
  border-radius: 8px; /* Add border-radius if desired */
  border-bottom-left-radius: 40px;
  border-top-left-radius: 17px;
  border-top-right-radius: 60px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;

}

.card-body {
  padding: 30px;
  margin-top: -100px;
  border-top-left-radius: 40px;
}

.book-btn {
  border-radius: 50px;
  width: 120px;
  background-color: #86B817;
}

.book-btn:hover {
  background-color: white;
  border: none;
  color: #86B817;
}

h3,
h5 {
  color: #86B817;
}

.card-body i {
  color: #86B817;
}