        #container {
            display: flex;
            height: 100vh;
        }

        #sidebar {
            width: 200px;
            background-color: #333;
            color: #fff;
            padding: 20px;
            box-sizing: border-box;
            position: fixed;
            height: 100%;
            overflow-y: auto;
        }

        .sidebar-link {
            display: block;
            color: #fff;
            text-decoration: none;
            background-color: #555;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .sidebar-link:hover {
            background-color: #777;
        }

        #main-content {
            flex-grow: 1;
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto;
            margin-left: 200px;
            position: relative;
        }

        #slider-wrapper {
            /* Fixed size for the slider container */
            width: 100%; /* Adjust this value based on your preference */
            height: 400px; /* Adjust this value based on your preference */
            margin: 0 auto;
        }

        .slider-container {
            position: relative;
            overflow: hidden;
        }

        .slides {
            display: flex;
            justify-content: flex-start;
            /* Adjusted to start from the left */
            transition: transform 0.5s ease-in-out;
        }

        .slide {
            min-width: 100%;
            box-sizing: border-box;
            text-align: center;
        }

        .slide img {
            max-width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .instructions {
            font-size: 18px;
            line-height: 1.6;
        }

        #prev,
        #next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;
            cursor: pointer;
            color: #333;
        }

        #prev {
            left: 10px;
        }

        #next {
            right: 10px;
        }