/* .card-img-top {
    width: 350px;
    height: 245px;
    overflow: hidden;
}

.card-img-top img {
    max-width: 100%; 
    max-height: 100%;
    width: auto; 
    height: auto; 
    display: block;
    margin: auto; 
}


 /* height: 245px;
  margin: auto;
  width: 350px; */